.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr) repeat(1, 4fr);
  grid-template-rows: repeat(1, 1fr) repeat(1, 4fr);
}

/* Sidebar left */
.sidebar-left {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: rgba(50, 50, 255, 0.868);
  color: white;
}
.sidebar-heading {
  display: inline-block;
  font-size: 30px;
}
.dashboard-icon {
  width: 30px;
  margin-left: 10px;
}
ul {
  list-style-type: none;
}
li {
  padding-bottom: 15px;
}
a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.sidebar-icon {
  display: inline-block;
  filter: invert(100%);
  padding-right: 8px;
  width: 20px;
}

/* Header */
.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
}

/* Header-top */
.header-top {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
}
.header-icon {
  align-self: center;
  margin-right: 10px;
  margin-left: auto;
  height: 20px;
}
input {
  background-color: rgb(230, 230, 230);
  grid-column: 2 / 7;
  align-self: center;
  height: 20px;
  border-radius: 10px;
}
.user-avatar {
  height: 50px;
  width: 50px;
}
.header-top > p {
  grid-column: 9 / 11;
  align-self: center;
}

/* Header-bottom */
.header-bottom {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
}
.header-bottom > img {
  height: 80px;
  align-self: center;
  justify-self: center;
}

.header-bottom-middle > p {
  margin: 50px auto 0px auto;
}
.header-bottom-middle > h3 {
  margin-top: 0;
}
.header-bottom-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header-bottom-right > button {
  height: 2rem;
  width: 5rem;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  background-color: rgba(50, 50, 255, 0.868);
  color: white;
  border: 0px;
}
.header-bottom-right > button:active {
  margin-top: 3px;
}

/* Main */
.card-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: lightgray;
}
.card-top > h3 {
  margin: 20px auto 0px 25px;
}
.main-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
}

.card-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: lightgray;
  padding: 20px;
}
.card {
  background-color: white;
  border-radius: 10px;
  border-right: 3px solid darkgray;
  border-bottom: 3px solid darkgray;
  border-left: 4px solid rgba(50, 50, 255, 0.868);
  position: relative;
}
.card > h4,
.card > p {
  margin: 20px 20px 0px 20px;
}
.card-buttons-container {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.card-buttons-container > img {
  padding-left: 20px;
}

/* Sidebar right */
.sidebar-right {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: lightgray;
  padding: 20px 40px 20px 20px;
}
.sidebar-right > h3 {
  margin: 0px;
}
.announcements-container > p {
  margin: 20px;
}
.trending-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.trending-avatar {
  height: 40px;
  justify-self: center;
  align-self: center;
}
.comment-container {
  padding: 10px;
}
.comment-container > p {
  margin: 0px;
  padding: 0px;
}
.sidebar-right > div {
  background-color: white;
  border-radius: 10px;
  border-right: 3px solid darkgray;
  border-bottom: 3px solid darkgray;
}
/* Functions */

.header-bottom > img:hover,
.header-bottom-right > button:hover,
.header-icon:hover,
.card-buttons-container > img:hover {
  cursor: pointer;
}
.header-bottom > img:active,
.header-icon:active,
.header-bottom-right > button:active,
.card-buttons-container > img:active {
  margin-top: 3px;
}
