.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr) repeat(1, 4fr);
  grid-template-rows: repeat(1, 1fr) repeat(1, 4fr);
}

.sidebar-left {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: aqua;
}
.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
}
.card-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.sidebar-right {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}
